<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container-fluid d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light">
        <a href="index.html" class="d-flex">
          <img src="assets/img/logo-sm.png" alt="" class="img-fluid d-sm-block d-md-none">
          <span class="d-none d-md-block">Andsertechnology</span>
        </a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="#header">Inicio</a></li>
        <li><a href="#about">Sobre nosotros</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#portfolio">Portafolio</a></li>
        <li><a href="#team">Nuestro equipo</a></li>
        <li><a href="#contact">Contáctenos</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->
